/* 这里声明特殊文字的字体及样式 和fonts路径 */
@font-face {
    font-family: 'icomoon';
    /* 这里需要换一下路径 ../ */
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* ---------------------------------------版心------------------------------------------*/
.w {
    width: 1200px;
    margin: 0 auto;
}

/* --------------------导航栏-------------------- */
.shortcut {
    height: 31px;
    background-color: #f1f1f1;
}

.shortcut li {
    line-height: 31px;
}

/* --设置的通用字体颜色-- */
.style_red {
    color: #c81623;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fl li,
.fr li {
    float: left;
}

.shortcut .fr ul li:nth-child(2n) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px;
}

/* after和before实际上是可以装内容的行内元素，content是所装内容，其他的是样式 */
.shortcut_icomoon::after {
    /* 方框和e91e都可，只不过e91e的形式要用 \转义 */
    content: '\e91e';
    font-family: 'icomoon';
    margin-left: 9px;
}


/* -------------------------------------------------头部-------------------------------------------------------- */
/* 头部里面的各个部件都是用的定位处理的.本质是大盒子里放小盒子,将小盒子放到特定位置可以普通法(margin padding)\浮动法\定位法,但普通法的两个属性都有弊端\浮动法不是为了放盒子而发明的,只是可以用而已\定位法可以说是专门用来将盒子放到其他盒子内的特定位置的方法 */
.header {
    position: relative;
    height: 105px;
    background-color: #fff;
}

/* --------------------------logo----------------------- */
.logo {
    position: absolute;
    top: 25px;
    width: 100px;
    height: 61px;
}

.logo a {
    /* 让链接占满整个背景图 */
    display: inline-block;
    width: 171px;
    height: 61px;
    /* font-size: 0; */
    /* keke,虽然font-size=0可以看不见字体,但它仍然占据一定位置,且背景图片无法占据那片位置;但是,当字体大小不是0时,字体和背景图片所占据的位置不会冲突,可以共生 */
    text-indent: -9999px;
    overflow: hidden;
    background-image: url(../images/logo.png);
}

/* ----------------------搜索框------------------------ */
.search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    width: 454px;
    height: 32px;
}

.search button {
    float: left;
    width: 80px;
    height: 32px;
    font-size: 16px;
    color: white;
    background-color: #b1191a;
}

/* -----------------------热词链接----------------------- */
.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}

.hotwords a {
    margin-left: 10px;
}

/* -------------------------购物车----------------------- */
.shopcar {
    position: absolute;
    top: 25px;
    right: 63px;
    width: 140px;
    height: 35px;
    border: 1px solid #dfdfdf;
    background-color: white;
    line-height: 35px;
    text-align: center;
}

.shopcar::before {
    /* shopcar虽然是大盒子,但内部只有一个内容,所以before和after会自动定位到里面的内容前后 */
    content: '\e93a';
    font-family: 'icomoon';
    margin-right: 5px;
}

.shopcar::after {
    content: '\e920';
    font-family: 'icomoon';
    margin-left: 10px;
}

.count {
    height: 14px;
    /* 因为随着数字增大,宽度会有所变化,所以不设置宽度 */
    padding: 0 5px;
    position: absolute;
    top: -5px;
    left: 105px;
    background-color: #e60012;
    border-radius: 7px 7px 7px 0;
    line-height: 14px;
    /* 计数盒子内的字会继承shopcar这个盒子的line-height: 35px;所以要专门再给计数盒子的内容设置一次行高 */
    /* 按默认值,计数盒子的内容会在盒子内,但由于继承了行高,默认值不再有效,所以内容可能不再盒子内,具体取决于行高 */
    color: #fff;
}

/* -----------------------------------------------导航栏-------------------------------------------------- */
.nav {
    height: 47px;
    border-bottom: 2px solid #b1191a;
    line-height: 45px;
    font-size: 16px;
}

/* -----------------------------处于版心位置的盒子的高度---------------------------- */
.tem {
    height: 45px;
}

/* --------------------下拉式导航栏------------------- */
.dropdown {
    /* 由于dropdown是浮动盒子且未设置高度，所以不会继承父盒子tem的高度，其高度由它里面的内容决定 */
    float: left;
    width: 210px;
    background-color: #b1191a;
}

.nav .dropdown dt {
    text-align: center;
    color: #fff;
}

.nav .dropdown dd {
    line-height: 31px;
    background-color: #c81623;
    text-indent: 10px;
}

.nav .dropdown dd,
.nav .dropdown a {
    color: #fff;
    /* 专门设定好a的字体颜色后，a就不会再继承父盒子的字体颜色，无论是hover状态还是普通状态 */
    font-size: 14px;
}

.nav dd::after {
    content: '\e920';
    font-family: 'icomoon';
    float: right;
    /* 建议用定位，而不是浮动 */
    margin-right: 20px;
}

.nav .dropdown dd:hover {
    background-color: #fff;
    margin-left: 2px;
}

.nav .dropdown dd:hover {
    color: #c81623;
}

.nav dd:hover a {
    color: #c81623;
}

/* --------------------导航链接------------------ */
.navitems {
    float: left;
}

.navitems a {
    padding: 0 25px;
}

/* ----------------------------------------------------底部------------------------------------------------- */
.footer {
    /* position: fixed;
    bottom: 0; */
    /* keke,兄弟你造吗，要想让盒子呆在底部，除了使用top，还要把left、right都写了才OK，不然就会错乱 */
    /* top: 360px;
    left: 0;
    right: 0;
    bottom: 0; */
    height: 415px;
    background-color: #f5f5f5;
}

.w .mod_service {
    height: 109px;
}

.mod_service ul li {
    float: left;
    padding-left: 35px;
    margin-top: 30px;
    width: 240px;
    height: 50px;
}

.mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    /* border: 25px solid pink;
    border-radius: 25px; */
    /* border-width和border-radius的值是一样的，且不设置盒子宽高 */
    background: url(../images/icons.png) -252px -2px;
    /* 精灵图的比例是1:1的 */
    margin-right: 8px;
}

.mod_service ul li h4 {
    font-size: 14px;
}

.mod_service ul li p {
    font-size: 12px;
}

.w .mod_help {
    height: 186px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #ccc;
}

.help_txt {
    float: left;
    padding-left: 50px;
    width: 200px;
}

.help_txt dl dt {
    font-size: 18px;
    margin: 20px 0 10px;
}

.help_txt .wx_cz {
    width: 90px;
    height: 90px;
    background-image: url(../images/wx_cz.jpg);
}

.mod_copyright {
    height: 120px;
}

.mod_copyright .a {
    width: 818px;
    height: 13px;
    margin: 24px auto 20px;
    font-size: 12px;
    line-height: 13px;
}

/* 以下三个盒子，深深阐明了：用margin\padding\border之前，要先摆明盒子的宽高。p\a这种宽高随着内容变的元素，div这种不随着内容变顶多就是继承父元素宽高的元素，它们都要先设置宽高 */
.mod_copyright .a div {
    width: 1px;
    height: 13px;
    background-color: #666;
    margin: 0 8px;
}

.mod_copyright p {
    width: 286px;
    margin: 0 auto;
    margin-bottom: 10px;
}


.mod_copyright .c {
    display: block;
    width: 130px;
    height: 12px;
    margin: 0 auto;
}

.mod_copyright .f {
    float: left;
}