@font-face {
    font-family: 'icomoon';
    /* 这里需要换一下路径 ../ */
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* ----------------------------------------------------主板---------------------------------------------------- */
.main {
    margin-top: 8px;
    margin-left: 220px;
    width: 980px;
    height: 455px;
}

/* 不浮动的不设置宽和高 or 只设置高 时，子盒子只继承宽；只设置宽时，不会继承高，但会被不浮动的子盒子撑大。再看看继承那节课 */
/* 浮动的盒子不设置宽高时，只会被子盒子撑大，而不会继承 */
/* 补充一下：inline-block的盒子，如果没有设置宽度的话，它的宽度随着内容而改变 */
.main .focus {
    float: left;
    width: 721px;
    height: 455px;
}

.main .newsflash {
    float: right;
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
    background-color: white;
    border: 1px solid #e4e4e4;
    padding: 0 15px;
}

.news-hd {
    height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 6px 15px;
}

.news-hd h5 {
    float: left;
    font-size: 14px;
}

.news-hd a {
    float: right;
}

.news-hd .more::after {
    font-family: 'icomoon';
    content: '\e920';
}

.news-bd {
    padding: 6px 5px;
}

.news-bd ul li {
    height: 25px;
    overflow: hidden;
    /* 隐藏溢出部分 */
    white-space: nowrap;
    /* 不换行 */
    text-overflow: ellipsis;
    /* 溢出部分的样式，省略或生切 */
}

.lifeservice {
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    overflow: hidden;
}

.lifeservice ul {
    /* 只要父盒子有宽，那么子盒子就能塞进去，是否设置了父盒子的高 或 爷盒子的宽小于父盒子 都无所谓（爷盒子这个知识于是就引出了溢出）。子盒子浮动，父盒子高度是0；不浮动，父盒子高度由子盒子撑开 */
    width: 252px;
}

.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-bottom: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    text-align: center;
    padding-top: 12px;
}

.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    background-color: pink;
    background: url(../images/icons.png) -15px -15px;
}

.bargain {
    margin-top: 5px;
}

/* text-align: center适用于文字元素和img元素 */

/* --------------------------------------------------推荐------------------------------------------------- */
.recom {
    margin-top: 12px;
    height: 163px;
    background-color: #ebebeb;
    overflow: hidden;
}

.recom_hd {
    float: left;
    width: 205px;
    height: 163px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 40px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
    width: 248px;
    height: 163px;
    background-color: #ebebeb;
}

.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

.like {
    height: 257px;
    margin-top: 30px;
}

.buy {
    height: 231px;
    border: 1px solid #ededed;
    overflow: hidden;
}

.buy ul {
    width: 1200px;
    white-space: nowrap;
}

.buy ul li {
    float: left;
    width: 200px;
    height: 230px;
}

/* 把图片宽高写清楚，这样放进去的图片就可以恒定一个大小，不会引起排版混乱 */
.buy ul li img {
    width: 200px;
    height: 228px;
}

/* ------------------------------------------------------------楼层区------------------------------------------------------ */
.jiadian,
.shouji,
.diannao {
    margin-top: 30px;
}

.floor_hd {
    height: 30px;
    border-bottom: 2px solid red;
}

.floor_hd h3 {
    float: left;
    line-height: 30px;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.tab_list {
    float: right;
}

.tab_list ul li {
    float: left;
    line-height: 30px;
}

.tab_list ul li a {
    margin: 0 16px;
}

/* .tab_list ul li a:first-child {
    color: #c81623;
}
找到tab_list里面的ul里面的小li（有好多个li），然后找到li里面的第一句，再判断第一句是不是a，是则有效，不是则无效 
因为我们只选中第一个小li里面的a，所以不可以用这句话*/
.floor_bd {
    height: 361px;
}

.tab_list_item>div {
    float: left;
}

.col_210 {
    width: 210px;
    height: 361px;
    background-color: #f9f9f9;
    padding-left: 12px;
}

.col_210 ul li {
    float: left;
    margin-right: 10px;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    line-height: 33px;
    text-align: center;
}

.col_210 ul li a img {
    width: 187px;
    height: 227px;
}

.col_329 {
    width: 329px;
    height: 361px;
}

.col_221_1,
.col_221_2 {
    width: 221px;
    height: 361px;
}

/* a包含有宽度（不一定非要设置width）的盒子时，通常要设置为block，因为一般要对a进行一些只针对块级元素才有的处理 */
.col_221_1 a {
    display: block;
    border-bottom: 1px solid #ededed;
}

.col_221_2 a {
    display: block;
    border: 1px solid #ededed;
    border-top: 0;
}

/* img图片的大小最好每个都设置一遍，不设置的话，图片还是原来的大小，可能会盖住一些样式 */
.col_221_2 a img {
    width: 219px;
    height: 359px;
}

.col_219 {
    width: 219px;
    height: 361px;
}

.col_219 a {
    display: block;
    border: 1px solid #ededed;
    border-top: 0;
    border-left: 0;
}

.col_219 a img {
    width: 217px;
    height: 178px;
}