@font-face {
    font-family: 'icomoon';
    /* 这里需要换一下路径 ../ */
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.logobox {
    position: relative;
    height: 105px;
    border-bottom: 2px solid #b1191a;
}

/* --------------------------------------------------------------------整个框框------------------------------------------- */
.frame {
    height: 500px;
    border: 1px solid #cdcfcd;
}

/* ----------------------------------------导航栏----------------------------------------- */
.registerarea {
    height: 42px;
    background-color: #ececec;
    border-bottom: 1px solid #ccc;
    line-height: 42px;
}

.registerarea h3 {
    float: left;
}

.login {
    float: right;
    font-size: 14px;
}


/* -----------------------------------------输入栏-------------------------------------- */
.reg_form {
    width: 600px;
    margin: 0 auto;
    /* 需要先设置盒子宽度，margin:0 auto才能使盒子水平居中，这个功能比较按规矩办事 */
    margin-top: 40px;
}

.reg_form ul li label {
    display: inline-block;
    /* 注意，label不是块元素，需要设置display */

    width: 88px;
    text-align: right;
}

.reg_form ul li input[type=text],
.reg_form ul li input[type=password] {
    border: 1px solid #d3d5d3;
    width: 242px;
    height: 37px;
    margin-bottom: 20px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.error_icon,
.success_icon {
    display: inline-block;
    /* 注意，i不是块元素，需要设置display */
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-top: -2px;
}

.error_icon {
    background: url(../images/error.png) no-repeat;
}

.success_icon {
    background: url(../images/success.png) no-repeat;
}

.safe {
    margin-left: 170px;
    margin-bottom: 20px;
}

.safe em {
    padding: 0 12px;
    background-color: #35a63e;
    color: #fff;
}

.safe em:nth-child(1) {
    background-color: #ef2510;
}

.safe em:nth-child(3) {
    background-color: #ff9200;
}

.agree {
    vertical-align: middle;
    margin-left: 108px;
}

.a_blue {
    color: #6cb9ea;
}

.btn {
    width: 200px;
    height: 34px;
    margin-left: 120px;
    margin-top: 50px;
    background-color: #cc2520;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

.footer {
    height: 120px;
    overflow: hidden;
    background-color: transparent;
}

.mod_copyright {
    margin-top: 45px;
}